* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote {
  font-size: 5vw;
  text-align: center;
  padding: 1vw;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
